
# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocod
img/burning_dice.psd
img/gif/burning_dice4.jpg
img/gif/burning_dice1.jpg
img/gif/burning_dice2.jpg
img/gif/burning_dice3.jpg
img/gif/burning_dice5.jpg
img/gif/burning_dice6.jpg
img/gif/burning_dice7.jpg
