body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center img {
display: inline-block;
text-align: center;
}

.nav-link {
    margin-right: 1px;
}
.navbar {
    background-color: aqua;
    height: 30px;
    position: sticky;
    top: 0px;
    padding: 5px;
    overflow: hidden;
}
.navbar a{
    float:left;
    color: blanchedalmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover{
    background-color: magenta;
    color: brown;
}
.navbar a.hem {
    background-color: chocolate;
    color: aliceblue;
}

p{
    text-align: center;
}

.container a:first-child {
    width: 100%;
}
.container button {
    justify-content: center;
}
.container {
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.starleft {
    padding: 25px;
    animation-name: menyswoosh;
    animation-iteration-count: infinite;
    animation-duration: 5000ms;
    animation-timing-function: linear;
}
 .starright {
    padding: 25px;
    order: 1;
    /*
    animation-name: menyswoosh;
   animation-iteration-count: infinite;
   animation-duration: 5000ms;
   animation-timing-function: linear;
       animation-direction: reverse;
       */

}
#transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
  }
  
#transform-active {
    transform: rotate(1080deg);
   /* background-image: url(../yatzy/img/grumpycat.jpg);*/
   background-color: blueviolet;
  }

table.box input{
    border-width: 0;
    width: 100%;
    height: 100%;
}
table {
    animation-duration: 2s;
    animation-name: menyswoosh;
 }

#johnny{
    width: 50%;
    height: auto;
}
#YatzyMaster{
    width: 50%;
    height: auto;
}

table, td, th{
    border: solid black 1px;
    border-collapse: collapse;
    padding: 4px;
}
table.box th {
    text-align: left;
    background-color: aqua;
}
table.box td {
    text-align: left;
}

td:nth-child(even){
    background-color: rgb(94, 255, 1);
}

th:nth-child(even){
    background-color: rgb(94, 255, 1);
}
td:nth-child(odd){
    background-color: magenta;
}

th:nth-child(odd){
    background-color: magenta;
}

input{
    margin: auto;
    background-color: inherit;
    transition: width 2s, height 2s, background-color 2s, transform 0.5s;
}

input:focus{
    background-color: rgb(255, 153, 1);
    transform: rotate(360deg);
}
.container .logga {
    width: 100%;
}
#logo {
    animation-duration: 4s;
    animation-name: swirlswoosh;
}
@keyframes menyswoosh{
    from{
         transform: rotate(0deg);
 
    }
    to {
 transform: rotate(1080deg);
    }
 }

@keyframes swirlswoosh{
    from {
        margin-left: 100%;
        transform: rotate(0deg);

    }
    to {
        margin-left: 0%;
        transform: rotate(1080deg);
    }
}

.transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }
 
  .transform-active {
    transform: rotate(1080deg);
    background-image: url(../yatzy/img/catcatcat.gif);
    background-repeat: no-repeat;
  }

  #leader {
      background-color: indianred;
  }
 .starright input[type=text]{
    box-shadow: 0 0 10px rgb(188, 19, 255);
    padding: 10px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid rgba(81, 203, 238, 1);
}
.starright button{
    width: 100%;
    box-shadow: 0 0 10px rgb(188, 19, 255);
    padding: 10px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid rgba(81, 203, 238, 1);
    border-radius: 5%;
}